<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gongst.kdkdapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="키드키득"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="키드키득"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>


</manifest>